template(name="trader")
    h1.ui.center.aligned.header(style="margin: 1.5em 0")
        with trader
            | #{profile.nickname}
    
    h3.ui.center.aligned.header
        i.money.icon
        | {{dollar trader.cash}}
    
    .ui.equal.width.grid
        .column
            h3.ui.header
                | Owned stocks
            table.ui.striped.compact.selectable.table
                thead
                    tr
                        th Ticker
                        th Volume
                        th Buy price
                tbody
                    each ownedStocks
                        tr
                            td
                                | #{ticker}
                            td
                                | #{volume}
                            td
                                | {{dollar buyPrice}}
        .column
            h3.ui.header
                | Sell orders
            table.ui.striped.compact.selectable.table
                thead
                    tr
                        th Ticker
                        th Volume
                        th Price
                tbody
                    each sellOrders
                        tr
                            td
                                | #{ticker}
                            td
                                | #{volume}
                            td
                                | {{dollar price}}
            
            h3.ui.header
                | Buy orders
            table.ui.striped.compact.selectable.table
                thead
                    tr
                        th Ticker
                        th Volume
                        th Price
                tbody
                    each buyOrders
                        tr
                            td
                                | #{ticker}
                            td
                                | #{volume}
                            td
                                | {{dollar price}}